<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="AbtKConnectionString" connectionString="Data Source = 10.221.100.52; Initial Catalog = abtknowledge; User ID = abtknowledge; Password = 2SxBZD3er63C; persist security info=True;" />
    <add name="DocumentMetadataConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Deepa\Prakash.Abt.Migration\AbtK2KnowledgeHub-OneTime\ProjectDocumentsMetadata.xlsx;Extended Properties='Excel 12.0 Xml;HDR=Yes'"/>
  </connectionStrings>
  <appSettings>
      <add key="LogFilePath" value="Log\log.txt" />
      <add key="ProjectView" value="qKH_Projects"/>
      <add key="ProjectDescriptionView" value="qKH_OverviewsAll"/>
      <add key="ProjectDocumentsView" value="qKH_ProjectFiles"/>
      <add key="ProjectTagsView" value="qKH_ProjectTags"/>
      <add key="ProjectStaffView" value="qKH_ProjectStaff"/>
      <add key="KHSiteUrl" value="https://abtassoc.sharepoint.com/sites/PropProj/KnowledgeHub"/>
      <add key="KHEmailId" value="deepa_moorjmalani@abtassoc.onmicrosoft.com"/>
      <add key="KHPassword" value="HarperSeven#56"/>
      <add key="ProjectListName" value="Project &amp; Project Files"/>
      <add key="ProjectDescriptionListName" value="Project Description"/>
      <add key="ProjectStaffListName" value="Project Staff"/>
      <add key="TagListName" value="Term/Tag Mappings"/>
      <add key="ProjectDocumentLibraryName" value="Project Documents"/>
      <add key="ProposalDocumentLibraryName" value="Proposal Documents"/>
      <add key="RepcapDocumentLibraryName" value="Reputational Capital Database Documents"/>
      <add key="RepcapListName" value="Reputational Capital Database"/>
      <add key="ProjectDocumentDirectoryPath" value="\\10.221.100.52\KH_ProjectFiles"/>
      <add key="ProposalDocumentDirectoryPath" value="\\10.221.100.52\KH_ProposalFiles"/>
      <add key="RepcapDocumentDirectoryPath" value="\\10.221.100.52\KH_RepcapFiles"/>
      <add key="ProposalView" value="qKH_Proposals"/>
      <add key="ProposalDocumentsView" value="qKH_ProposalFiles"/>
      <add key="ProposalStaffView" value="qKH_ProposalStaff"/>
      <add key="ProposalTagsView" value="qKH_ProposalTags"/>
      <add key="ProposalListName" value="Proposal &amp; Proposal Files"/>
      <add key="ProposalDocumentListName" value="Proposal Documents"/>
      <add key="ProposalStaffListName" value="Proposal Staff"/>
      <add key="RepcapDocumentsView" value="qkh_repcapfiles"/>
      <add key="ProjectContactsListName" value="Project Client Contacts"/>
      <add key="ProjectContactsView" value="qkh_projectcontacts"/>
    
  </appSettings>
</configuration>